
@media (max-width: 2400px) {
.dog {float: left;
  width: 35%;
  padding: 5px;}
}

@media (max-width: 1200px) {
.dog {float: left;
  width: 25%;
  padding: 5px;}
}

@media (max-width: 800px) {
.dog {width: 0px;}
.frenchie{
  font-style: italic;
  font-size: 20px
}}


.frenchie::after {
  content: "";
  clear: both;
  display: table;}

/* section a gets overruled by Container */
section a {
  color: cyan;
}

.contactform {
  margin-left: 45%;
  margin-right: 25%;
  margin-top: 0%;
  margin-bottom: 1%;

}

.footer-contact{
  margin-left: 50%;
}
